
.main_section_info {
    display: none;
}
.third_section {
    display: none;
}
.fourth_section {
    display: none;
}
.footer_section {
    display: none;
}
.backdrop {
    display: none;
}








h1,h2,h3,p,ul {
    margin: 0;
    padding: 0;
}
ul, ol{
    list-style: none;
}

a{
    text-decoration: none;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

body {
  font-family:"Roboto", sans-serif;
  color: #434455 ;
  background-color: #FFFFFF ;
}

.button {
    cursor: pointer;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}




/*common*/

.container {
  width: 320px;
  margin: 0 auto;
  padding: 0 16px;
}

@media screen and (min-width: 768px) {
    .container {
        width: 768px;
    }
}

@media screen and (min-width: 1158px) {
    .container {
         width: 1158px;
         margin: 0 auto;
         padding: 0 15px;
    }
}



/*header*/

.header_section {
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
}

.header_container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav_list ,
.contact_info {
    display: none;
}

.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    text-decoration: none;
}

.text {
    color:#2e2f42 ;
    text-transform: uppercase;
}

.header-logo {
    padding: 16px 0;
    display: block;
}

.burger-btn {
    padding: 0;
    border: none;
    background-color: transparent;
}

.burger-icon {
    display: block;
    fill: #2f2f37;
}

@media screen and (min-width: 768px) {
    .burger-btn {
        display: none;
    }

    .nav_list {
        display: flex;
        gap: 40px;
        align-items: center;
    }

    .header-logo {
        padding: 24px 0;
        margin-right: 120px;
    }

    .contact_info {
        font-style: normal;
        display: block;
    }

    .navigation {
        display: flex;
        align-items: center;
    }

    .navi_link {
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #2e2f42 ;
        padding: 24px 0;
        text-decoration: none;
        display: block;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1) ;
    }

    .navi_link.current {
        position: relative;
        color: #404bbf; 
    }

    .navi_link.current::after {
        content: "";
        width: 100%;
        height: 4px;
        position: absolute;
        left: 0;
        bottom: -1px;
        background-color:#404bbf ;
        border-radius: 2px;
    }

    .navi_link:hover,
    .navi_link:focus {
        color: #404bbf ;  
    }

    .contact_link:hover,
    .contact_link:focus {
        color: #404bbf; 
    }

    .contact_list {
        list-style: none;
        display: flex;
        flex-direction: column;
        gap: 12px;
    }

    .contact_link {
        font-weight: 400;
        font-size: 12px;
        line-height: 1.17;
        letter-spacing: 0.04em;
        color: #434455;
        text-decoration: none;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
}


@media screen and (min-width: 1158px) {
    .header-logo {
         margin-right: 76px;
    }

    .contact_list {
        list-style: none;
        align-items: center;
        flex-direction: row;
        gap: 40px;
    }

    
    .contact_link {
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        text-decoration: none;
        padding: 24px 0;
}
}



/*mobile menu*/

@media screen and (min-width: 768px) {
     .mobile-menu {
        display: none;
     }
}

.mobile-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
                visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.mobile-menu-container {
    position: relative; 
    padding-top: 72px; 
    padding-bottom: 40px;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.mobile-menu-close {
    position: absolute;
    top: 24px;
    right: 24px;
    border-radius: 100%;
    stroke-width: 1px;
    background-color: transparent;
}

.element-close-icon-close {
    fill:#2E2F42;
}


.navigation-mobile-menu {
    margin-bottom: auto;
}

.nav-item-mobile-menu {
    margin-bottom: 40px;
}

.navi-link-mobile-menu {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.12;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.navi-link-mobile-menu:hover,
.navi-link-mobile-menu:focus {
    background-color: #404BBF;
}

.contact-item-mobile-menu {
    margin-bottom: 48px;
    row-gap: 24px;
}

.contact-link-mobile-menu {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #434455;
}

.contact-link-mobile-menu:hover,
.contact-link-mobile-menu:focus {
    background-color: #4D5AE5;
}

.social-list-mobile-menu {
    display: flex;
    justify-content: space-between;
}

.social-item-mobile-menu {
    width: 40px;
    height: 40px;
}

.social-link-mobile-menu {
    width: 100%;
    height: 100%;
    background-color: var(--primary-color, #4d5ae5);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4,0,0.2,1);
}

.social-icon-mobile-menu {
    fill: var(--icon-color, #f4f4fd);
}

.social-link-mobile-menu:hover,
.social-link-mobile-menu:focus {
    background-color: #404bbf;
}



/*main section*/

